h1, h2, h3{
  text-align: center;
}
img{
  max-width:100%;
  max-height:100%;
}
body{
  background-color: rgba(75, 75, 75, 0.25);
}
.state2, .state3, .state4, .state5{
  display: none;
}
.languageC, .languagePython, .languageCSharp, .languageJavascript, .languageScheme, .languageErlang{
  display: none;
}
.panel{
  min-height: 500px;
  cursor: pointer;
}
.modal-body{
  min-height: 600px;
}
.container{
    font-family: Georgia;
}
